.main{
  padding: 15px;
}
.matchMain{
  background-color: silver;
  border: 4px solid silver;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4px;
}

.acierto{
  border: 4px solid springgreen;
}

.noAcierto{
  border: 4px solid tomato;
}

.img{
  height: 60px;
}

.radioButton{
  width: 40px;
  accent-color: deepskyblue;
}

@media screen and (min-width:580px) {
  .main{
    display: flex;
    justify-content: space-around;
  }
  
}

.btnSimular{
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #2222BB;
  border-radius: 15px;
  color: silver;
  font-size: 18px;
  width: 15em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  margin-bottom: 80px;
  background-color: cadetblue;
}

.numberInput{
  position: fixed;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(6, 62, 95, 0.897); /* Black w/ opacity */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #444;
}



/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 5%;
}

/* The Close Button */
.close {
  color: rosybrown;
  float: right;
  font-size: 15px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}


.title{
  text-decoration: underline;
}

.info{
  color: teal;
}

.perfect{
  color: green;
}

.nada{
  color: tomato;
}

.infoNumber{
  font-size: 30px;
}
