.main{
  padding: 15px;
}
.matchMain{
  background-color: silver;
  border: 4px solid silver;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4px;
}

.acierto{
  border: 4px solid springgreen;
}

.noAcierto{
  border: 4px solid tomato;
}

.img{
  height: 60px;
}

.radioButton{
  width: 40px;
  accent-color: deepskyblue;
}

@media screen and (min-width:580px) {
  .main{
    display: flex;
    justify-content: space-around;
  }
  
}

.btnSimular{
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #2222BB;
  border-radius: 15px;
  color: silver;
  font-size: 18px;
  width: 15em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  margin-bottom: 80px;
  background-color: cadetblue;
}

.numberInput{
  position: fixed;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
